﻿@{
    ViewBag.Title = "HAKKIMIZDA";
}
<div class="jumbotron">
    <h2>Hakkımızda</h2>
    <p class="lead">
VIP Rent A Car : Ekonomik sınıftan lüx sınıfa kadar birçok otomobil, VİP ve Suv araçlarıyla sizlere en iyi kiralama hizmetini verebilmek için yoğun ve titiz bir şekilde çalışmaktadır.
Kiraladığınız her tür marka araçlarımız için tecrübeli ve profesyonel şoförleriyle de sizlere en kaliteli ve güvenilir hizmeti vermektedir.
Yurt içi ve Yurt dışından gelen müşterilerimize transfer ayrıcalığı da sunmaktadır.
Rezervasyon sayfamızdan otomobillerin özelliklerini, fiyatlarını inceleyebilir ve kiralama ile ilgili +90 506 155 35 26 telefon numaralarımızdan ayrıntılı bilgilere ulaşabilirsiniz.
Siz değerli müşterilerimize kaliteli, konforlu ve güvenilir hizmeti sağlamak için hassasiyetle çalışmaktadır.</p>
  
</div>