﻿@{
    ViewBag.Title = "ILETISIM";
}

<div class="jumbotron">
     <h2>Iletisim</h2>
    <p class="lead">Web Sitesi : www.viprentacar.com.tr</p>
    <p>Telefon No: +90 (506) 155 3526</p>
    <p>Isyeri Adresi: Kemal Pasa mah. 159 sok. No:11</p>
</div>